


@keyframes myfirst {
  0% {
      background: #fff;
  }
  25% {
      background: #f9ffdb;
  }
  75% {
      background: #f9ffdb;
  }
  100% {
      background: #fff;
  }
}


.card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  margin: 4px;
  padding: 12px;
  border-radius: 4px;
  float: right;
  width: 100%;
}

.owner-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  margin: 12px 4px;
  padding: 12px;
  border-radius: 4px;
}
