<h4>List of drugs available in the Blockchain</h4>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Current Holder</th>
      <th>Opts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.holder}}</td>
      <td>
        <button class="btn btn-secondary" (click)="item.transferActive = !item.transferActive  ">
          Transfer
        </button>

        <div class="transfer" *ngIf="item.transferActive">
          <input [(ngModel)]="item.transfer.to" class="form-control" placeholder="Address to transfer to" />
          <input [(ngModel)]="item.transfer.url" class="form-control" placeholder="Url of the report" />
          <input [(ngModel)]="item.transfer.hash" class="form-control" placeholder="Hash of the report" />
          <button class="btn btn-danger" (click)="transfer(item)">
            Submit
          </button>
        </div>

      </td>
    </tr>
  </tbody>
</table>

<div class="options">
  <button class="btn btn-primary">Add new one</button>

</div>
