.header {
    text-align: left;
    margin: 4px 0;
}

.custom-shadow {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.footer {
    font-size: 14px;
}

.footer p {
    text-align: center;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    padding: 2px 0;
}

/** BODY **/

.body {
    margin: 2px 0;
    padding: 12px;
}

.main-menu {
    list-style: none;
    overflow: overlay;
    margin: 0;
    padding: 0;
}

.main-menu>li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.main-menu>li>a {
    padding: 6px;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
