.header {
    text-align: left;
    margin: 0px 0;
    padding: 12px 0;
}

.custom-shadow {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.footer {
    font-size: 14px;
}

.footer p {
    text-align: center;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    padding: 2px 0;
}

/** BODY **/

.body {
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.38);
    padding: 24px;
    margin: 40px auto 80px auto;
    border-radius: 6px;
}

.main-menu {
    list-style: none;
    overflow: overlay;
    margin: 0;
    padding: 0;
}

.main-menu>li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.main-menu>li>a {
    padding: 6px;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    border: solid 1px red;
    margin: 12px 12px;
    padding: 12px;
    display: inline-block;
}

ul.footer-list a {
  text-decoration: none;
  padding: 4px 0;
  display: inline-block;
}
